@import "../colors";
// .wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background-color: #faf;
// }

// .wrap {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     background-color: #f87171;
// }
.wrap {
    width: 100%;
    height: auto;
    // max-width: 1200px;
    display: flex;
    justify-content: center;
    background-color: $gray1;
    .loginContainer {
        width: 100%;
        max-width: 590px;
        height: 668px;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 108px 0;
        padding: 138px 95px;
        .formWrap {
            width: 400px;
            height: 392px;
            background-color: aqua;
            .logoWrap {
                display: flex;
                justify-content: center;
                img {
                    width: 120px;
                    height: 42px;
                }
            }
            .form {
                width: 100%;
                height: 256px;
                background-color: #f87171;
                margin-top: 48px;
            }
            .linkWrap {
                display: flex;
                width: 100%;
                height: 20px;
                margin-top: 26px;
                font-size: 14px;
                align-items: center;
                justify-content: flex-end;
                & :last-child {
                    display: inline-block;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 12px;
                        background: #dbdbdb;
                        margin: 0 8px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
