.btnSubmit {
    font-weight: 600;
    padding: 12px;
    border-radius: 8px;
    height: 48px;
    text-align: center;
    width: 100%;
    margin-top: 16px;
    background-color: #ff7235;
    color: white;
    cursor: pointer;

    &.disabled {
        background-color: #c2c2c2;
        cursor: auto;
    }

    &.hidden {
        display: none;
    }

    &.active {
        background-color: #ff7235;
        cursor: pointer;
    }
}

.codeContainer {
    margin-top: 16px;
}

.codeInput {
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    font-size: 16px;
    color: black;
}

.codeVerify {
    color: #00d740;
    margin: 8px 0;
}
