@import "../colors";

.footer {
    width: 100%;
    height: auto;
    background: $white; // bg-red-300
    color: $gray4;
    border-top: 1px solid $gray2;
    // z-index: 50;
    // .nav {
    //     font-weight: 500;
    //     border-top: 1px solid $gray2;
    //     .links {
    //         display: flex;
    //         width: 447px;
    //         align-items: center;
    //         gap: 8px;
    //         padding: 16px 0 16px 56px;
    //         box-sizing: border-box;
    //         list-style: none;
    //     }
    //     .linkList {
    //         display: flex;
    //         align-items: center;
    //         a {
    //             text-decoration: none;
    //             color: $gray4;
    //         }
    //         &::before {
    //             content: "";
    //             width: 1px;
    //             height: 12px;
    //             background: $gray2;
    //             margin-right: 8px;
    //         }
    //         &:first-child::before {
    //             display: none;
    //         }
    //     }
    // }

    .info {
        padding: 28px 0;
        padding-left: 56px;
        border-top: 1px solid $gray1;
        border-bottom: 1px solid $gray1;
        font-size: 14px;
        line-height: 24px;
        .logo {
            width: 68px;
            height: 24px;
            margin-bottom: 20px;
        }

        .links {
            display: block;
            font-weight: 500;
            :hover {
                color: $orange;
            }
            img {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-left: 6px;
            }
        }
    }

    .copyright {
        font-size: 14px;
        text-align: end;
        padding: 20px 32px 20px 0;
    }
}

@media (max-width: 767px) {
    .footer {
        .info {
            padding: 28px 16px;
        }
    }
}
