@import "../colors.scss";

.header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    height: 80px;
    background: transparent;
    z-index: 50;
    padding: 0 80px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    &.scrolled {
        background-color: rgba(244, 217, 220, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    &.none {
        display: none;
    }

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
        color: $black;
        .logo {
            width: 68px;
            height: 23px;
        }
        .login {
            font-size: 18px;
            line-height: 21px;
        }
    }
}

// 헤더변형
.headerB {
    background-color: $white;
    .login {
        color: $black;
        font-weight: 500;
    }
}

@media (max-width: 1279px) {
    .header {
        padding: 0 36px;
    }

    // 헤더변형
    .headerB {
        background-color: $white;
        .login {
            color: $black;
            font-weight: 500;
        }
    }
}
@media (max-width: 767px) {
    .header {
        height: 60px;
        background: #fff;
        .nav {
            .login {
                font-size: 14px;
            }
        }
    }

    // 헤더변형
    .headerB {
        background-color: $white;
        padding: 16px;
        .nav {
            display: flex;
            align-items: center;
        }
        .login {
            color: $white;
            font-weight: 500;
            background-color: $orange;
            border-radius: 4px;
            padding: 6px 12px;
        }
    }
}
