@import "../colors.scss";

.wrap {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    background-color: #ffa;
    .textWrap {
        font-weight: 500;
        margin: 108px 0 164px;
        font-size: 20px;
        text-align: center;
    }
    .article {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-bottom: 182px;
        text-align: left;
        .imgWrap {
            width: 100%;
            max-width: 488px;
            height: 545px;
            margin-bottom: 32px;
            .img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .caption {
            width: 100%;
            max-width: 488px;
            & :first-child {
                color: $gray3;
            }
            .des {
                font-weight: 600;
                font-size: 22px;
            }
            .description {
                font-weight: 500;
                margin-top: 32px;
            }
        }
        .flexWrap {
            width: 100%;
            max-width: 488px;
            display: flex;
            flex-direction: column;
            align-items: end;

            .smallImgWrap {
                width: 100%;
                height: 394px;
                margin: 90px 0 40px 24px;
                .smallImg {
                    width: 100%;
                    height: auto;
                }
            }
            .captionSmall {
                font-size: 16px;
            }
        }
    }

    .flexContainer {
        display: flex;
        justify-content: end;
        gap: 40px;
        flex-wrap: wrap;
        .article {
            .imgWrap {
                width: 100%;
                max-width: 590px;
                height: 700px;
                margin-bottom: 32px;
                .img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
            .captionFlex {
                display: flex;
                font-size: 24px;
                font-weight: 600;
                margin-top: 2rem;
                width: 100%;
                .highlight {
                    color: $orange;
                }
            }
        }
    }
}
