.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    .title {
        font-size: 24px;
        font-weight: bold;
        color: black;
        margin-bottom: 48px;
    }
    .joinForm {
        width: 100%;
    }
    .btnSubmit {
        font-weight: 600;
        padding: 12px;
        border-radius: 8px;
        height: 48px;
        text-align: center;
        width: 100%;
        margin-top: 32px;
        background-color: #ff7235;
        color: white;
        cursor: pointer;
        &.disabled {
            background-color: #c2c2c2;
            cursor: auto;
        }
    }
}

@media (max-width: 767px) {
    .container {
        .title {
            font-size: 16px;
            margin-bottom: 18px;
        }
        .joinForm {
            width: 100%;
            .pwWrap {
                margin-top: 32px;
            }
        }
        .btnSubmit {
            font-size: 14px;
        }
    }
}
