@import "../colors.scss";
@import "src/scss/common.scss";
@mixin afterImg($icon) {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 12px;
    background: url("../../../public/icon/#{$icon}.svg") no-repeat center;
    background-size: contain;
    // transition: background 0.3s ease-in-out;
    @media (max-width: 768px) {
        width: 16px;
        height: 16px;
    }
}
@mixin hoverImg($icon) {
    background: url("../../../public/icon/#{$icon}.svg") no-repeat center;
    background-size: contain;
}

@mixin searchBoxStyle {
    width: 100%;
    height: 48px;
    background-color: $white;
    margin-bottom: 32px;
    border-radius: 30px;
    border: 1px solid $orange;
    display: flex;
    align-items: center;
    padding-left: 16px;
    gap: 12px;
    img {
        width: 20px;
    }
    input {
        background-color: transparent;
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    .modalContainer {
        top: 50%;
        left: calc(50% + 130px);
        transform: translate(-50%, -50%);
        width: 960px;
        min-height: 600px;
        max-height: 90vh;
        overflow-y: auto;
        position: fixed;
        // top: 15%;
        // left: 35%;
        background-color: $white;
        z-index: 999;
        border: 1px solid $gray4;

        .modalHeader {
            width: 100%;
            height: 76px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 24px 0 28px;

            font-weight: 600;
            border-bottom: 1px solid $gray2;
            h2 {
                font-size: 20px;
            }
        }
    }

    //메인
    .searchContainer {
        width: 100%;
        min-height: 628px;
        padding: 68px 40px 0;

        .infoTxt {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                width: 78px;
                height: 36px;
                background-color: $orange;
                border-radius: 30px;
                text-align: center;
                align-content: center;
                color: $white;
                font-weight: 700;
            }
            h1 {
                font-size: 24px;
                font-weight: 600;
                line-height: 150%;
                width: 100%;
                text-align: center;
                color: #495057;
            }
        }
        .infoSearch {
            width: 100%;
            .searchBox {
                @include searchBoxStyle;
                margin: 28px 0 16px;
            }
            p {
                color: $orange;
                font-weight: 500;
            }
            .loading {
                text-align: center;
            }
            .comment {
                text-align: center;
                color: $black;
                margin: 20px 0;
                font-size: 18px;
            }
        }
    }

    //검색
    .content {
        padding: 20px 24px 96px;
        width: 100%;
        section {
            .searchBox {
                @include searchBoxStyle;
            }
        }
        .dataContainer {
            // width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            justify-content: flex-start;
            .dataWrapper {
                width: 172px;
                flex: 1 1 calc(33.33% - 12px);
                max-width: calc(33.33% - 12px);
                .posterWrap {
                    width: 100%;
                    aspect-ratio: 3 / 4;
                    margin-bottom: 12px;
                    border-radius: 4px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info {
                    font-size: 14px;
                    .title {
                        font-size: 14px;
                        color: $gray4;
                        @include ellipsis;
                    }
                    .txtwrap {
                        margin: 8px 0;
                        .txt {
                            color: $black;
                            line-height: 20px;
                        }
                    }
                }
                .reviewrap {
                    display: flex;
                    gap: 2px;
                    font-size: 14px;
                    margin-bottom: 12px;
                    img {
                        width: 14px;
                    }
                    .txt {
                        color: $black;
                    }
                }
                .searchBtn {
                    width: 100%;
                    height: 40px;
                }
            }
        }
    }
}

//드롭다운
.moreContainer {
    position: absolute;
    top: 26px;
    right: 0px;
    width: 158px;
    border-radius: 4px;
    border: 1px solid $gray2;
    background-color: $white;
    .modalWrap {
        .list.under:hover {
            background-color: transparent;
            cursor: default;
        }
        .list {
            font-size: 16px;
            // font-weight: 500;
            height: 48px;
            padding: 12px 16px;

            &:first-of-type {
                border-bottom: 1px 1px solid $gray2;
                // pointer-events: none;
            }
            &:hover {
                background-color: $gray1;
            }

            .edit,
            .delete,
            .mypage,
            .logout {
                font-size: 16px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 500;
            }
            .edit::after,
            .mypage::after {
                @include afterImg("edit");
            }
            .delete::after {
                @include afterImg("delete");
            }
            .logout::after {
                @include afterImg("logoutB");
            }

            // .edit:hover,
            // .mypage:hover,
            // .delete:hover,
            // .logout:hover {
            //     // font-weight: 600;
            //     // background-color: $gray1;
            // }
        }
        .under {
            font-weight: 600;
            border-bottom: 1px solid $gray2;
        }
    }
}
.mypage {
    top: 68px;
    right: 24px;
}

@media (max-width: 1279px) {
    .modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 998;
        .modalContainer {
            top: calc(50% + 40px); // 수정
            left: 50%; // 수정
            transform: translate(-50%, -50%);
            width: 704px; // 수정
            min-height: 628px; // 수정
            max-height: 90vh;
            overflow-y: auto;
            position: fixed;
            // top: 15%;
            // left: 35%;
            background-color: $white;
            z-index: 999;
            border: 1px solid $gray4;

            .modalHeader {
                width: 100%;
                height: 76px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 24px 0 28px;

                font-weight: 600;
                border-bottom: 1px solid $gray2;
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    //드롭다운
    .moreContainer {
        // position: absolute;
        // top: 26px;
        // right: 0px;
        width: 128px;
        // border-radius: 4px;
        // border: 1px solid $gray2;
        // background-color: $white;
        .modalWrap {
            .list {
                font-size: 14px;
                font-weight: 400;
                height: auto;
                padding: 12px;
                .edit,
                .delete,
                .mypage,
                .logout {
                    font-size: 14px;
                    // width: 100%;
                    // display: flex;
                    // align-items: center;
                    // justify-content: space-between;
                    font-weight: 400;
                }
            }
            .under {
                font-weight: 500;
            }
        }
    }
    .mypage {
        top: 42px;
        right: 16px;
    }

    .modalOverlay {
        .modalContainer {
            left: 50%;
            min-width: 328px;
            min-height: 468px;
            width: 90vw;
            .modalHeader {
                height: 52px;
                h2 {
                    font-size: 18px;
                }
            }
        }

        //메인
        .searchContainer {
            min-height: 426px;
            padding: 56px 10px;
            .infoTxt {
                h1 {
                    font-size: 16px;
                    width: 80%;
                }
            }
            .infoSearch {
                p {
                    font-size: 14px;
                }
            }
        }

        //검색
        .content {
            padding: 20px 0 0;
            .dataContainer {
                padding: 0 12px 0 24px;
            }
        }
    }
}

@media (max-width: 480px) {
    .modalOverlay {
        //검색
        .content {
            .dataContainer {
                padding: 0 12px;
                .dataWrapper {
                    flex: 1 1 calc(50% - 6px);
                    max-width: calc(50% - 6px);
                }
            }
        }
    }
}
