.container {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 8px;
    height: 24px;
    margin-bottom: 32px;
    .btn {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: background-color 0.2s, opacity 0.2s;
        &:disabled {
            cursor: default;
            opacity: 0.5;
        }
    }
    .index {
        width: 24px;
        height: 24px;
        font-size: 14px;
        font-weight: 500;
        margin: 0 4px;
        align-content: center;
        color: #292929;
        &.active {
            color: #fff;
            background-color: #292929;
            border-radius: 4px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        justify-content: center;
        margin-top: 16px;
    }
}
