.container {
    .wrap {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 4px;
        .img {
            width: 100%;
            cursor: pointer;
        }
    }
}
