@import "src/scss/colors.scss";

.btn {
    width: 108px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnDark {
    background-color: $dim;
    color: $white;
    text-align: center;
}
.btnOrange {
    font-size: 16px;
    background-color: $orange;
    color: $white;
    // &:hover {
    //     background-color: rgba($orange, 0.88);
    // }
}
.btnWhite {
    background-color: $white;
    border: 1px solid $gray3;
    &:hover {
        background-color: $gray1;
    }
}
.btnGray {
    font-size: 16px;
    background-color: $gray3;
    color: $white;
    &:hover {
        background-color: $gray4;
    }
}
.btnWrap {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: end;
}

@media (max-width: 767px) {
    .btn {
        width: 100px;
        height: 42px;
        font-size: 14px;
    }
    .btnWrap {
        justify-content: center;
    }
}
