@import "src/scss/colors.scss";
@import "src/scss/button.scss";

@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrapper {
    width: 100%;
    background: url("../../public/main/mainBg.svg") no-repeat center center;
    background-size: cover;
    padding: 0 40px;
}

// 로그인,회원가입 에러메세지
.error-msg {
    color: $red;
    margin-top: 8px;
}

// 로그인 인풋
.inputContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    .label {
        color: $gray4;
        font-size: 14px;
        margin-bottom: 8px;
    }
    .input {
        border: 1px solid $gray3;
        border-radius: 8px;
        padding: 12px 20px;
        width: 100%;
        color: $black;
        transition: border 0.2s ease-in-out;
    }
}

/*마이홈*/

// 로그인후 헤더
.loginheader {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid $gray2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 24px;
    position: fixed;
    z-index: 49;
    background-color: $white;
    .mygo {
        font-size: 18px;
        font-style: none;
        cursor: pointer;
    }
    .tabletNav {
        display: none;
    }
}

// 공통 레이아웃
.layoutwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 100%;
    background-color: #f23e3e;
    background-color: $gray1;
    // max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 0 30px 0 30px;
    min-height: 100vh;
    .layoutwrap {
        width: 100%;
        // max-width: 1200px;
        display: flex;
        justify-content: center;
        background-color: $gray1;
        margin: 120px 0 0 260px;
        // margin: 132px 0 0 0;
        // padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        overflow: hidden;
    }
}

//제목
.titlewrap {
    display: flex;
    justify-content: space-between;
}
.title {
    font-size: 20px;
    font-weight: bold;
    align-content: center;
}

//탭
.tabs {
    display: flex;
    list-style: none;
    border-bottom: 1px solid $gray3;
    margin-top: 24px;
    .tablist {
        width: 60px;
        height: 36px;
        display: inline-block;
        .tabLink {
            height: 37px;
            text-decoration: none;
            color: $gray4;
            font-size: 16px;
            padding: 8px 16px;
        }

        .tabLink.active {
            border-bottom: 2px solid $orange;
            color: $orange;
            font-weight: bold;
        }
    }
}
//홈컨테이너
.homeContainer {
    // width: 100%;
    height: 100%;
    display: flex;
    // gap: 24px;
    background-color: $white;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 8px;
}

//리스트 컨테이너
.listContainer {
    margin: 32px 0 48px;
    background-color: $white;
    border-radius: 16px;
    padding: 32px 24px;
}

//다이어리 컨테이너
.diaryContainer {
    // display: flex;
    // gap: 16px;
    padding: 16px 16px 0 16px;
    // flex-wrap: wrap;
    margin-top: 32px;
}
//상세페이지 컨테이너
.deatailContainer {
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: 60px;
    border-radius: 8px;
    border: 1px solid $gray2;
}
.detailFooter {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
//인풋, 셀렉트박스
.input,
.filter {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid $gray2;
    color: $black;
    padding: 12px;
    appearance: none;
    &:invalid {
        // appearance: none;
        color: $gray3;
    }
    &::placeholder {
        color: $gray3;
    }
}
//마이페이지
.emailTitle {
    font-size: 14px;
    color: $gray4;
    margin-bottom: 8px;
}
.fill {
    background-color: $gray1;
}
//첨부파일인풋
.posterInputWrap {
    width: 100%;
    height: 44px;
    display: flex;
    gap: 8px;
    .imgInput {
        padding: 10px 0 10px 12px;
        background-color: #f8f9fa;
        border-radius: 4px;
    }
    .searchBtn {
        flex: 1;
    }
}
.imgInputWrap {
    padding: 10px 0 10px 12px;
    background-color: #f8f9fa;
    border-radius: 4px;
}

//검색버튼
.searchBtn {
    padding: 10px;
    background-color: $black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(41, 41, 41, 0.9);
    }
}
//다이어리리스트 검색인풋
.searchWrap {
    width: 468px;
    height: 48px;
    padding: 12px;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $gray2;
    display: flex;
    margin-top: 16px;
    .bar {
        width: 100%;
        height: 100%;
    }
    .searchbtn {
        width: 20px;
        height: 20px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.modalRelative {
    position: relative;
}

.notfound {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .nobtn {
        padding: 10px;
        border-radius: 4px;
    }
}

@media (max-width: 1279px) {
    // 로그인후 헤더
    .loginheader {
        justify-content: space-between;
        .tabletNav {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            padding-left: 32px;
            .hamburger {
                width: 28px;
                height: 28px;
                z-index: 100;

                img {
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                }
            }
            .headerLogo {
                margin-left: 16px;
                width: 68px;
                height: 24px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    // 공통 레이아웃
    .layoutwrapper {
        padding: 0 32px 40px;
        .layoutwrap {
            background-color: $gray1;
            margin: 132px 0 0 0;
        }
    }
    //다이어리 컨테이너
    .diaryContainer {
        padding: 0px;
    }
    //리스트 컨테이너
    .listContainer {
        margin-bottom: 0;
    }
    //상세페이지 컨테이너
    .deatailContainer {
        padding: 60px 20px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        width: 100%;
        background: url("../../public/main/mainBg.svg") no-repeat center center;
        background-size: cover;
        padding: 0 16px;
    }

    // 로그인 인풋
    .inputContainer {
        .input {
            padding: 12px 4px;
            font-size: 13px;
        }
    }

    //인풋, 셀렉트박스
    .input,
    .filter {
        font-size: 13px;
    }
    // 로그인,회원가입 에러메세지
    .error-msg {
        font-size: 12px;
    }
    // 로그인후 헤더
    .loginheader {
        height: 54px;
        padding-right: 16px;
        .mygo {
            img {
                width: 24px;
                height: 24px;
            }
        }
        .tabletNav {
            padding-left: 16px;
            .hamburger {
                width: 24px;
                height: 24px;
            }
            .headerLogo {
                margin-left: 12px;
                height: 22px;
            }
        }
    }

    // 공통 레이아웃
    .layoutwrapper {
        padding: 0 16px 20px;
        .layoutwrap {
            margin: 82px 0 0 0;
        }
    }

    .title {
        font-size: 18px;
    }

    //다이어리리스트 검색인풋
    .searchWrap {
        width: 100%;
        height: 42px;
        padding: 8px;
        align-items: center;
    }
}
