@import "./colors.scss";
// @import "../common.scss"; // // @import "src/scss/reset.css";
@mixin multi-line-ellipsis-fallback($line-count: 2, $line-height: 1.5) {
    display: -webkit-box;
    -webkit-line-clamp: $line-count;
    -webkit-box-orient: vertical;
    overflow: hidden;

    // 웹킷을 지원하지 않는 브라우저에서 대체
    max-height: calc(#{$line-count} * #{$line-height}em);
    line-height: #{$line-height}em;
}
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .diaryWrapper {
        width: 100%;
        padding: 16px;
        position: relative;
        display: flex;
        gap: 16px;
        box-sizing: border-box;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 16px;
            right: 16px;
            height: 1px;
            background: $gray3;
        }
        // &:nth-of-type(5n)::after {
        //     height: 0px;
        // }
        .infoWrap {
            font-weight: 500;
            flex: 1 1 auto;
            min-width: 0; // 반드시!
            display: flex;
            flex-direction: column;

            .diaryInfo {
                display: flex;
                align-items: center;
                gap: 8px;
                .title {
                    font-size: 18px;
                    font-weight: 600;
                }
                .subtitle {
                    font-size: 14px;
                    color: $gray3;
                }
            }
            .emotionwrap {
                margin: 10px 0 8px;
                display: flex;
                .emotion {
                    display: flex;
                    align-items: center;
                    .txt {
                        margin-right: 8px;
                    }
                    img {
                        width: 28px;
                        height: 28px;
                    }
                    &:last-of-type::before {
                        content: "";
                        width: 1px;
                        height: 18px;
                        background: $gray2;
                        margin: 0 16px;
                    }
                }
            }
            .review {
                all: unset;
                cursor: pointer;
                height: 100%;
                p {
                    font-size: 16px;
                    line-height: 1.5;
                    @include ellipsis;
                }
            }
            .optionwrap {
                margin-top: 25px;
                display: flex;
                width: 198px;
                height: 48px;
                background-color: $gray1;
                border-radius: 8px;
                padding: 12px;
                .option {
                    display: flex;
                    align-items: center;
                    .txt {
                        margin-left: 8px;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    &:last-of-type::before {
                        content: "";
                        width: 1px;
                        height: 18px;
                        background: $black;
                        margin: 0 8px;
                    }
                }
            }
        }
        .poster {
            border-radius: 6px;
            flex-shrink: 0;
            overflow: hidden;
            cursor: pointer;
            width: 30%;
            max-width: 148px;
            height: auto;
            aspect-ratio: 148 / 190;

            &:hover {
                img {
                    transform: scale(1.05);
                    transition: transform 0.4s ease;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease-in-out;
            }
        }
    }
    .paginationConstainer {
        width: 100%;
    }
    .empty {
        padding: 20px 10px;
        font-size: 16px;
        font-weight: 500;
    }
}

//홈 최근 다이어리 리스트
.recentWrapper {
    flex: 1;
    height: 840px;
    height: auto;
    padding: 32px 24px;
    border-radius: 8px;
    background-color: $white;
    flex: 1 1 0;
    min-width: 440px;
    .headerWrap {
        display: flex;
        margin-bottom: 32px;
        h1 {
            font-weight: 700;
            font-size: 20px;
            // margin-bottom: 32px;
            flex: 1;
        }
        a {
            color: $gray4;
            text-decoration: underline;
        }
    }
    .container {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 24px;
        .diaryWrapper {
            width: 100%;
            border-radius: 8px;
            border: 1px solid $gray3;
            &::after {
                height: 0;
            }
        }
    }
}

@media (max-width: 960px) {
    .myCalendarWrapper,
    .recentWrapper {
        flex: 1 0 100%;
    }
}

@media (max-width: 767px) {
    .container {
        gap: 16px;
        .diaryWrapper {
            .infoWrap {
                min-width: 160px;
                .diaryInfo {
                    .title {
                        font-size: 16px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .emotionwrap {
                    font-size: 14px;
                    .emotion {
                        img {
                            width: 20px;
                            height: 20px;
                        }
                        &:last-of-type::before {
                            content: "";
                            margin: 0 12px;
                        }
                    }
                }
                .review {
                    all: unset;
                    cursor: pointer;
                    margin-top: 1rem;
                    p {
                        line-height: 1.5rem;
                        white-space: normal;
                        max-height: 3rem;
                        font-size: 14px;
                    }
                }
                .optionwrap {
                    margin-top: 1.5rem;
                    display: flex;
                    width: 198px;
                    width: 160px;
                    height: auto;
                    background-color: $gray1;
                    border-radius: 8px;
                    padding: 10px 8px;
                    .option {
                        .txt {
                            font-size: 12px;
                        }
                        img {
                            width: 16px;
                            height: 16px;
                        }
                        &:last-of-type::before {
                            content: "";
                            height: 12px;
                            margin: 0 10px;
                        }
                    }
                }
            }
            .poster {
                border-radius: 6px;
                flex-shrink: 0;
                overflow: hidden;
                cursor: pointer;
                min-width: 120px;
                height: auto;
                aspect-ratio: 148 / 190; // 비율 유지
                &:hover {
                    img {
                        transform: scale(1.05);
                        transition: transform 0.4s ease;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.5s ease-in-out;
                }
            }
        }
        .paginationConstainer {
            width: 100%;
        }
        .empty {
            padding: 20px 10px;
            font-size: 16px;
            font-weight: 500;
        }
    }

    //홈 최근 다이어리 리스트
    .recentWrapper {
        padding: 0;
        padding-top: 44px;
        min-width: 330px;
        .headerWrap {
            justify-content: space-between;
            margin-right: 12px;
            h1 {
                font-weight: 700;
                font-size: 18px;
                flex: 0 1 auto;
            }
        }
        .container {
            height: 100%;
            margin-bottom: 10px;
            .diaryWrapper {
                .infoWrap {
                    .review {
                        @include multi-line-ellipsis-fallback(2);

                        p {
                            font-size: 14px;
                        }
                    }
                    .optionwrap {
                        margin-top: 14px;
                    }
                }
            }
        }
    }
}
