@import "src/scss/colors.scss";

.myCalendarWrapper {
    height: auto;
    padding: 32px 24px;
    border-radius: 8px;
    background-color: $white;
    flex: 1.5 1 0;
    min-width: 480px !important;
}

//툴바
.rbc-toolbar {
    .rbc-btn-group {
        display: flex;
        align-items: center;
        button {
            border: none;
            .iconWrap {
                width: 24px;
                height: 24px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &:focus {
                background-color: transparent;
                box-shadow: none;
            }
            &:hover,
            &:focus:hover {
                background-color: #f0f0f0;
            }
        }
        .rbc-toolbar-label {
            margin: 0 20px;
            font-size: 20px;
            font-weight: 600;
        }
    }
}

//월 달력
.rbc-month-view {
    border-radius: 12px;
    overflow: hidden;
}

//비활성날짜 배경색
.rbc-off-range-bg {
    background-color: $gray1;
}

//월
.rbc-month-header {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    background-color: $orange;

    .rbc-header {
        padding: 18px 0;
        text-align: center;
    }
}

//요일
.dateHeader {
    .dateWrap {
        text-align: center;
        .date {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            background-color: #ff7235;
        }
    }
}

//일
.rbc-date-cell {
    margin: 8px 0;
}
.rbc-button-link {
    cursor: default;
    font-weight: 600;
}

.rbc-event {
    padding: 4px 8px;
    background-color: rgba($blue, 0.16);
    background-color: rgba($orange, 0.16);
    border-radius: 4px;
    color: $blue;
    color: $orange;
    text-align: center;
    &:hover {
        background-color: $orange;
        color: $white;
    }
}
.rbc-event.rbc-selected {
    background-color: rgba($orange, 0.16);
    &:hover {
        background-color: $orange;
        color: $white;
    }
}

.rbc-show-more {
    cursor: pointer;
}
.event-more {
    width: 100%;
    padding: 4px 8px;
    background-color: $gray1;
    border-radius: 4px;
    color: $gray4;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rbc-month-view table {
    width: 100%;
    table-layout: fixed;
}

@media (max-width: 960px) {
    .myCalendarWrapper,
    .recentWrapper {
        flex: 1 0 100%;
        min-width: unset;
    }
}

@media (max-width: 767px) {
    .myCalendarWrapper {
        // min-width: 250px !important; //수정
        min-width: 330px !important;
        height: 480px; //수정
        padding: 0;
        .rbc-calendar {
            min-height: 100px !important;
        }
    }

    //툴바
    .rbc-toolbar {
        .rbc-btn-group {
            button {
                .iconWrap {
                    width: 20px;
                    height: 20px;
                }
            }
            .rbc-toolbar-label {
                margin: 0 8px;
                font-size: 18px;
            }
        }
    }

    //월 달력
    .rbc-month-view {
        border-radius: 12px;
        overflow: hidden;
    }

    //월
    .rbc-month-header {
        font-size: 14px;
        .rbc-header {
            padding: 10px 0;
            font-weight: 500;
        }
    }
    //일
    .rbc-date-cell {
        margin: 6px 0;
    }
    .rbc-button-link {
        font-weight: 500;
        font-size: 12px;
    }

    .rbc-event,
    .event-more {
        padding: 2px 4px;
        font-size: 12px;
    }
}
